version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    # Only check our main environment.yml, ignore vendored dependencies
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
